/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4caf50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

.filmes {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap;
}

.filme {
    background-color: white;
    width: 250px;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.filme img {
    width: 100%;
    border-radius: 8px;
}

.filme h2 {
    margin-top: 10px;
    font-size: 1.5em;
}

.filme p {
    margin-top: 10px;
    font-size: 1em;
    color: #666;
}

footer {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
